apiVersion: v1
kind: ConfigMap
metadata:
  name: obi-config
data:
  obi-config.yml: |
    discovery:
      instrument:
        - k8s_namespace: "media-stack"
        - k8s_namespace: "immich"
        - k8s_namespace: "homarr"
        - k8s_namespace: "argocd"    
        - k8s_namespace: "zero-trust"    
        - k8s_namespace: "ddns"    
        - k8s_namespace: "cloudflared"
    log_level: INFO
    otel_traces_export:
      endpoint: http://otel-fanout-collector.otel-system.svc.cluster.local:4317
      protocol: grpc
    prometheus_export:
      port: 8999
      path: /metrics
      features: [network, application]
    ebpf:
      context_propagation: all
      traffic_control_backend: tcx
      disable_blackbox_cp: true
      track_request_headers: true
