apiVersion: v1
kind: ConfigMap
metadata:
  name: obi-config
data:
  obi-config.yml: |
    discovery:
      instrument:
        - containers_only: true
          service_name_source: k8s.pod.name
    log_level: INFO
    otel_traces_export:
      endpoint: http://opentelemetry-kube-stack-gateway-collector.opentelemetry-operator-system.svc.cluster.local:4318
    resource_attributes:
      deployment.environment: prod
    prometheus_export:
      port: 8999
      path: /metrics
      features: [network, application]
    ebpf:
      context_propagation: all
      traffic_control_backend: tcx
      disable_blackbox_cp: true
      track_request_headers: true 