apiVersion: v1
kind: ConfigMap
metadata:
  name: obi-config
data:
  obi-config.yml: |
    discovery:
      instrument:
        - k8s_namespace: "*"
    log_level: INFO
    prometheus_export:
      port: 8999
      path: /metrics
      features: [network, application]
    ebpf:
      context_propagation: headers
      traffic_control_backend: tcx
      disable_blackbox_cp: true
      track_request_headers: true
