apiVersion: v1
kind: ConfigMap
metadata:
  name: obi-config
data:
  obi-config.yml: |
    discovery:
      instrument:
        - k8s_namespace: media-stack
    network:
      enable: true
    attributes:
      kubernetes:
        enable: true
    otel_traces_export:
      endpoint: opentelemetry-kube-stack-gateway-collector.opentelemetry-operator-system.svc.cluster.local:4317
      protocol: grpc
    otel_metrics_export:
      endpoint: opentelemetry-kube-stack-gateway-collector.opentelemetry-operator-system.svc.cluster.local:4317
      protocol: grpc
      features: [network, application]
    logging:
      level: INFO
