kubelab
*.pub
opentofu/terraform.tfstate
opentofu/plan
opentofu/terraform.tfstate.backup
opentofu/.terraform.lock.hcl
opentofu/.terraform/*
.DS_Store
opentofu/.terraform.tfstate.lock.info
ubuntu/opentofu/terraform.tfstate.backup
ubuntu/opentofu/.terraform*
ubuntu/opentofu/terraform.tfstate
ubuntu/opentofu/plan
