kubelab
*.pub
opentofu/terraform.tfstate
opentofu/plan
opentofu/terraform.tfstate.backup
opentofu/.terraform.lock.hcl
opentofu/.terraform/*
.DS_Store
opentofu/.terraform.tfstate.lock.info
ubuntu/opentofu/terraform.tfstate.backup
ubuntu/opentofu/.terraform*
ubuntu/opentofu/terraform.tfstate
ubuntu/opentofu/plan
k8s-add-workers/tofu/.terraform/
tofu/terraform.tfstate
ubuntu/tofu/terraform.tfstate
ubuntu/tofu/.terraform/
**/terraform.tfstate.backup
tofu/.terraform/
**/**/terraform.tfstate.backup
k8s-add-workers/tofu/terraform.tfstate
**.terraform**
**/**/plan
k8s-add-worker-single/tofu/terraform.tfstate
dockge/.env
addons/secret.yaml
*ignore.*
*/*/terraform.tfstate
.vscode
CloudStack/terraform.tfstate

# Files to ignore ONLY for GitHub
secrets/
config/local.json
build/special/
ansible/vault_password.txt
ansible/ignore-vault-pass
ansible/vault-pass.txt
ansible/cert-secret.yaml
Automation/n8n/output_with_watermark.mp4
Automation/n8n/*.mp4
*.mp4
*/*.mp4
Automation/n8n/escape925.png
Automation/n8n/insta-scrape.json
Automation/n8n/smaple-data-reels.json
Automation/n8n/beatfailure_posts.json
Automation/n8n/*.mp3
local-jazziro-com-tls.yaml
.idea/kubelab.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
/.idea/aws.xml
