---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: prometheus-ds
spec:
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
  datasource:
    name: Prometheus
    type: prometheus
    access: proxy
    basicAuth: false
    url: http://kube-prometheus-stack-prometheus.kube-prometheus-stack.svc.cluster.local:9090
    isDefault: true
    jsonData:
      'tlsSkipVerify': false
      'timeInterval': "5s"
    editable: false
---
apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: tempo-ds
spec:
  instanceSelector:
    matchLabels:
      dashboards: "grafana"
  datasource:
    name: Tempo
    type: tempo
    access: proxy
    url: http://tempo-gateway.grafana-system.svc.cluster.local
    basicAuth: false
    isDefault: false
    editable: false
    uid: tempo
# ---
# apiVersion: grafana.integreatly.org/v1beta1
# kind: GrafanaDatasource
# metadata:
#   name: loki-ds
# spec:
#   instanceSelector:
#     matchLabels:
#       dashboards: "grafana"
#   datasource:
#     name: Loki
#     type: loki
#     access: proxy
#     basicAuth: false
#     url: http://loki-stack.monitoring.svc:3100
#     isDefault: false
#     jsonData:
#       'maxlines': 1000
#     editable: false
---
# # https://github.com/aws-samples/containers-blog-maelstrom/tree/main/grafana-operator-AMG/grafana-operator-manifests
# # https://aws.amazon.com/blogs/mt/using-open-source-grafana-operator-on-your-kubernetes-cluster-to-manage-amazon-managed-grafana/
# apiVersion: grafana.integreatly.org/v1beta1
# kind: GrafanaDatasource
# metadata:
#   name: cloudwatch-ds
# spec:
#   instanceSelector:
#     matchLabels:
#       dashboards: "grafana"
#   datasource:
#     name: Cloudwatch
#     type: cloudwatch
#     access: server
#     isDefault: false
#     jsonData:
#       'tlsSkipVerify': false
#       'timeInterval': "5s"
#       "sigV4Auth": true,
#       "sigV4AuthType": "ec2_iam_role"
#       "sigV4Region": us-east-1
#       # "customMetricsNamespaces": "ContainerInsights/Prometheus"
#       "defaultRegion": us-east-1
#       "provisionedBy": "aws-datasource-provisioner-app"
#     editable: true