apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  labels:
    app.kubernetes.io/component: media-server
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8096
    targetPort: 8096
  - name: https
    port: 8920
    targetPort: 8920
  selector:
    app: jellyfin
---
apiVersion: v1
kind: Service
metadata:
  name: jellyfin-lb
  labels:
    app.kubernetes.io/component: media-server
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.0.55
  ports:
  - name: http
    port: 8096
    targetPort: 8096
  - name: https
    port: 8920
    targetPort: 8920
  selector:
    app: jellyfin